<h1>home</h1>

<p>The rules of the game: </p>

<p>In order to play type localhost:/4567/ followed by player 1's name <br> then
  / followed by their choice of rock, scissors and paper.</p>

<p>Then type / followed by player 2's name and / choice</p>
